.newsbar {
text-align: center;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 5px 10px;
background: #0e000094 url(/Forum/uploads/foto/panel.jpg);
	color: #fff;
}


.social {
border: 1px solid rgba(62, 8, 0,1);

color: #fff;
}

.social span {
padding: 0px 5px;

}


/* scrollbar */

::-webkit-scrollbar {  
        width: 15px;
	background-color: black;
}

::-webkit-scrollbar-track {  
      background-color: black;
}

::-webkit-scrollbar-thumb {  
        background-color: rgb(37, 5, 1);
        border-left: 1px solid #262626;
        border-right: 1px solid #262626;
}

blockquote {
    border: 1px solid #5f1106;
    margin: 0;
    background: rgb(0, 0, 0);
    padding: 10px;
}
